# Cleaning Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Data/caso_trainee_data_estrategia_analisis SEPT.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID del Cliente                 1200 non-null   object
 1   Zona                           615 non-null    object
 2   Canal                          1200 non-null   object
 3   Producto                       1200 non-null   object
 4   Monto de Venta                 1175 non-null   float64
 5   Edad del Cliente               1200 non-null   int64
 6   ¿Capacitado?                   1200 non-null   object
 7   Inversión en Publicidad        1180 non-null   float64
 8   Mes                            1200 non-null   object
 9   Asesor                         1200 non-null   object
 10  % Cumplimiento Objetivo        1200 non-null   float64
 11  % Clientes Nuevos              1200 non-null   float64
 12  Participación en Campañas      1200 non-null   object
 13  Antigüedad del Asesor (meses)  1200 non-null   int64
dtypes: float64(4), int64(2), object(8)
memory usage: 131.4+ KB

In [4]:
missings_list = ['Zona', 'Monto de  Ventas', 'Inversión en Publicidad']

In [5]:
df[['Monto de Venta', 'Inversión en Publicidad']].isnull().sum()

Monto de Venta             25
Inversión en Publicidad    20
dtype: int64

In [6]:
missings =df[(df['Monto de Venta'].isnull()) | (df['Inversión en Publicidad'].isnull())]
print(f'Missings: {missings.shape[0]}')
print(f'Porcentaje missings: {missings.shape[0]/df.shape[0]}')

Missings: 45
Porcentaje missings: 0.0375

In [7]:
df.dropna(subset=['Monto de Venta'], inplace=True)

In [8]:
df.nunique()

ID del Cliente                   1175
Zona                                5
Canal                               5
Producto                            3
Monto de Venta                   1174
Edad del Cliente                   53
¿Capacitado?                        3
Inversión en Publicidad          1153
Mes                                 5
Asesor                             50
% Cumplimiento Objetivo          1043
% Clientes Nuevos                  81
Participación en Campañas           5
Antigüedad del Asesor (meses)      59
dtype: int64

In [9]:
for col in df.columns:
    print('\n', col)
    print(df[col].unique())

 ID del Cliente
['C00001' 'C00002' 'C00003' ... 'C01198' 'C01199' 'C01200']

 Zona
[nan 'Este' 'Oeste' 'Sur' 'Centro' 'Norte']

 Canal
['Sucursal' 'Unknown' 'Call Center' 'Agente' 'Digital']

 Producto
['Plan Retiro' 'Inversión Segura' 'Ahorro Plus']

 Monto de Venta
[14908.48 16986.22  8659.82 ... 16698.01  6256.27 24905.4 ]

 Edad del Cliente
[27 31 59 63 47 58 42 52 69 65 51 28 38 39 62 24 34 19 29 35 33 66 68 43
 61 60 64 30 21 56 44 32 25 57 -1 22 53 45 46 54 40 20 36 37 23 49 26 55
 67 48 41 18 50]

 ¿Capacitado?
['No' 'Sí' 'Desconocido']

 Inversión en Publicidad
[3115.12 2744.13 3069.54 ... 4382.64 5057.72 3777.85]

 Mes
['Enero' 'Marzo' 'Febrero' 'Abril' 'Mayo']

 Asesor
['A34' 'A6' 'A19' 'A22' 'A14' 'A33' 'A17' 'A7' 'A23' 'A15' 'A16' 'A39'
 'A9' 'A3' 'A48' 'A38' 'A21' 'A13' 'A20' 'A36' 'A44' 'A42' 'A45' 'A37'
 'A29' 'A30' 'A40' 'A10' 'A35' 'A4' 'A50' 'A28' 'A46' 'A8' 'A11' 'A24'
 'A47' 'A31' 'A2' 'A32' 'A12' 'A25' 'A49' 'A1' 'A18' 'A41' 'A27' 'A26'
 'A43' 'A5']

 % Cumplimiento Objetivo
[79.27 88.55 87.9  ... 91.03 92.25 67.78]

 % Clientes Nuevos
[0.12 0.3  0.51 0.11 0.31 0.56 0.84 0.62 0.43 0.73 0.26 0.2  0.64 0.55
 0.69 0.6  0.89 0.53 0.19 0.76 0.72 0.87 0.66 0.58 0.47 0.39 0.38 0.61
 0.7  0.5  0.48 0.63 0.82 0.23 0.9  0.81 0.68 0.75 0.79 0.67 0.78 0.57
 0.88 0.14 0.49 0.16 0.37 0.22 0.52 0.85 0.74 0.65 0.1  0.44 0.83 0.24
 0.33 0.27 0.17 0.15 0.4  0.54 0.25 0.34 0.18 0.13 0.41 0.36 0.59 0.46
 0.45 0.32 0.8  0.77 0.28 0.71 0.29 0.21 0.86 0.35 0.42]

 Participación en Campañas
['Baja' 'Ninguna' 'Media' 'Alta' 'Desconocido']

 Antigüedad del Asesor (meses)
[23  5  7 57 58  6 49 22 13 12  4  8 37 31 45 26 43 40 33 29 28 53 17 55
  9  2 51 52 30  3 56 10 46 50 47 38 15 25 18  1 48 41 36 54 11 16 14 39
 21 32 44 35 24 42 27 19 59 34 20]

In [10]:
df['Zona'] = df['Zona'].fillna('Desconocido')
df['Canal'] = df['Canal'].replace({
    'Unknown':'Desconocido'
})

In [11]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Monto de Venta,1175.0,15283.934077,5025.131813,-1934.07,11843.315,15431.78,18695.555,32479.39
Edad del Cliente,1175.0,42.912340,16.285673,-1.00,31.000,43.00,57.000,69.00
Inversión en Publicidad,1155.0,3035.873394,993.677727,-131.74,2359.150,3024.10,3716.295,6226.13
% Cumplimiento Objetivo,1175.0,87.931387,19.406354,-5.00,78.890,89.18,99.680,139.15
% Clientes Nuevos,1175.0,0.503430,0.230385,0.10,0.300,0.51,0.705,0.90
Antigüedad del Asesor (meses),1175.0,30.067234,17.404392,1.00,15.000,30.00,46.000,59.00

In [12]:
df.describe(include='object').T

                          count unique          top freq
ID del Cliente             1175   1175       C00001    1
Zona                       1175      6  Desconocido  573
Canal                      1175      5  Desconocido  495
Producto                   1175      3  Ahorro Plus  407
¿Capacitado?               1175      3           Sí  540
Mes                        1175      5        Enero  245
Asesor                     1175     50          A28   35
Participación en Campañas  1175      5         Alta  341

In [13]:
df_inconsistency = pd.concat([
	df[df['Monto de Venta'] <= 0],
	df[df['Edad del Cliente'] <= 0],
	df[df['% Cumplimiento Objetivo'] <= 0],
	df[df['Inversión en Publicidad'] <= 0]
], ignore_index=True)
df_inconsistency.drop_duplicates(inplace=True)
df_inconsistency.sort_values(by='ID del Cliente', ascending=True, inplace=True, ignore_index=True)
df_inconsistency.to_csv('../Outputs/Tables/inconsistency.csv')

In [14]:
for col in df.columns:
    print('\n', col)
    print(df[col].unique())

 ID del Cliente
['C00001' 'C00002' 'C00003' ... 'C01198' 'C01199' 'C01200']

 Zona
['Desconocido' 'Este' 'Oeste' 'Sur' 'Centro' 'Norte']

 Canal
['Sucursal' 'Desconocido' 'Call Center' 'Agente' 'Digital']

 Producto
['Plan Retiro' 'Inversión Segura' 'Ahorro Plus']

 Monto de Venta
[14908.48 16986.22  8659.82 ... 16698.01  6256.27 24905.4 ]

 Edad del Cliente
[27 31 59 63 47 58 42 52 69 65 51 28 38 39 62 24 34 19 29 35 33 66 68 43
 61 60 64 30 21 56 44 32 25 57 -1 22 53 45 46 54 40 20 36 37 23 49 26 55
 67 48 41 18 50]

 ¿Capacitado?
['No' 'Sí' 'Desconocido']

 Inversión en Publicidad
[3115.12 2744.13 3069.54 ... 4382.64 5057.72 3777.85]

 Mes
['Enero' 'Marzo' 'Febrero' 'Abril' 'Mayo']

 Asesor
['A34' 'A6' 'A19' 'A22' 'A14' 'A33' 'A17' 'A7' 'A23' 'A15' 'A16' 'A39'
 'A9' 'A3' 'A48' 'A38' 'A21' 'A13' 'A20' 'A36' 'A44' 'A42' 'A45' 'A37'
 'A29' 'A30' 'A40' 'A10' 'A35' 'A4' 'A50' 'A28' 'A46' 'A8' 'A11' 'A24'
 'A47' 'A31' 'A2' 'A32' 'A12' 'A25' 'A49' 'A1' 'A18' 'A41' 'A27' 'A26'
 'A43' 'A5']

 % Cumplimiento Objetivo
[79.27 88.55 87.9  ... 91.03 92.25 67.78]

 % Clientes Nuevos
[0.12 0.3  0.51 0.11 0.31 0.56 0.84 0.62 0.43 0.73 0.26 0.2  0.64 0.55
 0.69 0.6  0.89 0.53 0.19 0.76 0.72 0.87 0.66 0.58 0.47 0.39 0.38 0.61
 0.7  0.5  0.48 0.63 0.82 0.23 0.9  0.81 0.68 0.75 0.79 0.67 0.78 0.57
 0.88 0.14 0.49 0.16 0.37 0.22 0.52 0.85 0.74 0.65 0.1  0.44 0.83 0.24
 0.33 0.27 0.17 0.15 0.4  0.54 0.25 0.34 0.18 0.13 0.41 0.36 0.59 0.46
 0.45 0.32 0.8  0.77 0.28 0.71 0.29 0.21 0.86 0.35 0.42]

 Participación en Campañas
['Baja' 'Ninguna' 'Media' 'Alta' 'Desconocido']

 Antigüedad del Asesor (meses)
[23  5  7 57 58  6 49 22 13 12  4  8 37 31 45 26 43 40 33 29 28 53 17 55
  9  2 51 52 30  3 56 10 46 50 47 38 15 25 18  1 48 41 36 54 11 16 14 39
 21 32 44 35 24 42 27 19 59 34 20]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1175 entries, 0 to 1199
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID del Cliente                 1175 non-null   object
 1   Zona                           1175 non-null   object
 2   Canal                          1175 non-null   object
 3   Producto                       1175 non-null   object
 4   Monto de Venta                 1175 non-null   float64
 5   Edad del Cliente               1175 non-null   int64
 6   ¿Capacitado?                   1175 non-null   object
 7   Inversión en Publicidad        1155 non-null   float64
 8   Mes                            1175 non-null   object
 9   Asesor                         1175 non-null   object
 10  % Cumplimiento Objetivo        1175 non-null   float64
 11  % Clientes Nuevos              1175 non-null   float64
 12  Participación en Campañas      1175 non-null   object
 13  Antigüedad del Asesor (meses)  1175 non-null   int64
dtypes: float64(4), int64(2), object(8)
memory usage: 137.7+ KB

In [16]:
cols_category = ['Zona', 'Canal', 'Producto', '¿Capacitado?', 'Mes', 'Participación en Campañas']
df[cols_category] = df[cols_category].astype('category')

In [17]:
df.to_parquet('../Data/cleaned.parquet')